@import './reset.scss';

body {
  font-family: 'Baloo Chettan 2', cursive;
  background-color: #F0E9E5;
}

button:hover {
  cursor: pointer;
}

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.jus-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.wrap {
  flex-wrap: wrap;
}

.margin-auto {
  margin: auto;
}

.center {
  text-align: center;
}

.green-container {
  background-color: #CECCC4;
  position: fixed;
  border-radius: 20px 20px 0px 0px;
  top: 5%;
  left: 2.5%;
  width: 95vw;
  height: 95vh;
  z-index: -1;
}