@import './reset.scss';
@import './colors.scss';

body {
  font-family: 'Baloo Chettan 2', cursive;
  background-color: #F0E9E5;
  z-index: 1;
  overflow-y: scroll;
  overflow-x: hidden;
}

button:hover {
  cursor: pointer;
}

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.jus-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.space-evenly {
  justify-content: space-evenly;
}

.wrap {
  flex-wrap: wrap;
}

.margin-auto {
  margin: auto;
}

.center {
  text-align: center;
}

.pos-relative {
  position: relative;
}

.width-100 {
  width: 100%;
}