@import './reset.scss';
@import './colors.scss';

body {
  font-family: 'Baloo Chettan 2';
  background-color: $milktea;
}

button:hover {
  cursor: pointer;
}

.flex-row {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.jus-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.center {
  text-align: center;
}

.pos-relative {
  position: relative;
}

.width-100 {
  width: 100%;
}

.border-box {
  box-sizing: border-box;
}