$lightmilktea: #f4e6d2;
$milktea: #ecdcc0;
$darkmilktea: #e3C6a5;
$passionorange: #f0bd41;
$passionyellow: #fbe095;
$passionred: #d24144;
$lightmatcha: #d8d2a9;
$matcha: #bbb67d;
$darkmatcha: #9ea48c;
$superdarkmatcha: #898d7c;
$white: #f1f1f1;
$offwhite: #fefbef;
$black: #070707;
$boba: #41382C;
$passionseed: #4c4c4c;
$lightpassionseed: #866e2c;
$mutedpassionseed: #57524e;
$lightblue: #c3eaf2;
$blue: #b1d4d9;
$red: #9e1b1b;
$green: #4f9e1b;
$forestgreen: #375f37;
$taro: #ceb5bf;
$darktaro: #846c81;
$grapefruit: #f2b3ae;
$grapefruitorange: #dc7b53;