$lightmilktea: #f0e9e5;
// $milktea: #e1d3bf;
$lightorange: #f9d69b;
$passionorange: #f0bd41;
$passionred: #d24144;
$milktea: #ecdcc0;
$lightmatcha: #ceccc4;
$matcha: #b3ba9e;
$brightmatcha: #bdbf64;
$darkmatcha: #9ea48c;
$superdarkmatcha: #898d7c;
$white: #f1f1f1;
// $white: #fefbef;
$black: #070707;
$boba: #41382C;
$lightblue: #c3eaf2;
$darkblue: #8c9da0;
$pink: #e8dbe6;
$red: #9e1b1b;
$green: #4f9e1b;
$forestgreen: #375f37;
$greyblue: #5a978f;