@import './colors.scss';

// WHEN SCREEN IS LESS THAN 800PX
@media screen and (max-width: 800px) {
  .dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
  }

  .d-left,
  .d-middle,
  .d-right {
    display: block;
    width: 85%;
    // margin: auto;
  }

  .bubbles-container,
  .favorites-container,
  .budget,
  .calculator {
    width: 100%;
  }

  .button {
    display: none;
  }
}

// SCREEN @ FULL WIDTH
@media screen and (min-width: 800px) {
  #welcome-msg {
    font-size: 2.5vw;
    margin: .6vw;
    padding: .3vw .7vw;
    background-color: #41382c;
    display: inline-block;
    border-radius: 1.8vw;
    color: #ceccc4;
  }

  #date {
    font-size: 2.5vw;
    margin: .6vw;
    padding: .3vw .7vw;
    background-color: #41382c;
    display: inline-block;
    position: absolute;
    right: 0;
    border-radius: 1.8vw;
    color: #ceccc4;
  }

  .dashboard-container {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .d-left,
  .d-right {
    width: 33.33%;
    display: flex;
    justify-content: center;
  }

  .d-middle {
    width: 33.33%;
    display: flex;
    flex-direction: column;
  }

  .favorites-container,
  .bubbles-container {
    width: 80%;
  }
}

.dashboard-container {
  background-color: #ceccc4;
  position: fixed;
  top: 4vh;
  left: 2.5%;
  width: 95vw;
  height: 95vh;
  z-index: -1;
}

.favorites-container {
  background-color: #f1f1f1;
  box-sizing: border-box;
  border-radius: 1vw;
  margin-top: 8vh;
  padding: 1vw;
  height: 65vh;
  overflow: scroll;
  font-size: 1.3vw;
}

.favorites h3 {
  font-size: 2.2vw;
  margin-bottom: 3%;
}

.fav {
  display: flex;
  padding: 0.7vw;
  box-sizing: border-box;
  border-radius: 0.8vw;
  justify-content: space-between;
  background-color: $pink;
  margin-bottom: 0.6vw;
}

.fav button i {
  color: $matcha;
  font-size: 1.3vw;
}

.fav button i:hover {
  color: $darkmatcha;
}

.item-container {
  padding: 10px;
  border-radius: 5px;
  background-color: #e8dbe6;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.budget {
  position: relative;
  background-color: #f1f1f1;
  box-sizing: border-box;
  border-radius: 1vw;
  margin-top: 8vh;
  padding: 1vw;
  height: 41vh;
}

.budget-title {
  border-radius: 1vw;
  padding: .5vw 4vw;
  font-size: 2vw;
  background-color: #f1f1f1;
  position: absolute;
  top: -15%;
  left: 15%;
}

.budget-button {
  width: 3.4vw;
  height: 3.4vw;
  position: absolute;
  top: -8%;
  right: 0%;
  font-size: 3.4vw;
  color: $boba;
  box-sizing: border-box;
}

.budget-button:hover {
  width: 3.6vw;
  height: 3.6vw;
  font-size: 3.6vw;
  right: -1%;
}

.budget .price {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.4vw;
  height: 3.4vw;
  background-color: #41382c;
  border-radius: 50%;
  color: #f1f1f1;
  font-size: 1.2vw;
  margin-left: -10%;
  margin-top: -3%;
}

.budget h1 {
  padding: .5vw;
  border-radius: .8vw;
  box-sizing: border-box;
  width: 100%;
  background-color: #c3eaf2;
  font-size: 1.5vw;
  margin-bottom: .9vw;
}

.budget-input {
  background-color: #e8dbe6;
  border-radius: .8vw;
  box-sizing: border-box;
  padding: .5vw;
  width: 97%;
  font-size: 1.5vw;
  position: relative;
  margin-bottom: .9vw;
}

.budget a {
  font-size: 1.4vw;
  color: #41382c;
  background-color: $darkmatcha;
  padding: .1vw .6vw;
  border-radius: 1vw;
  box-shadow: 0px 1px 1px;
}

.budget a:hover {
  transition: color 0.4s ease-in-out, background-color 0.4s ease-in-out;
  background-color: $boba;
  color: $white;
  box-shadow: 0px 1px 2px;
}

.budget a:focus {
  box-shadow: 0px 1px 2px inset;
}

.calculator {
  box-sizing: border-box;
  background-color: #f1f1f1;
  border-radius: 1vw;
  margin-top: 5vh;
  padding: 1vw;
  height: 44vh;
}

.calc-screen {
  background-color: #e8dbe6;
  border-radius: .7vw;
  border-style: solid;
  border-color: #fceefa #eecfeb #d4b9d2 #d7c8d5;
  border-width: 0.4vw 0.5vw 0.5vw 0.4vw;
  padding: .8vw;
  height: 38%;
  box-sizing: border-box;
  font-size: 1vw;
}

.calc-buttons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.calc-msg {
  font-size: 1.4vw;
}

.button:before {
	content: "";
	float: left;
	padding-top: 100%; 	/* initial ratio of 1:1*/
}

.button {
  width: 23%;
  border-radius: .7vw;
  background-color: #c3eaf2;
  margin-top: 1.7vh;
  border-style: solid;
  border-color: #e7f1f3 #acc1c6 #75a1ab #8c9da0;
  border-width: 0.4vw 0.5vw 0.5vw 0.4vw;
  box-sizing: border-box;
}

//--- REPLACING FAVORITES--------
.bubbles-container {
  background-color: #f1f1f1;
  box-sizing: border-box;
  border-radius: 1vw;
  margin-top: 8vh;
  padding: 1vw;
  position: relative;
  height: 65vh;
  text-align: center;
}

.bubbles {
  overflow: hidden;
  height: 100%;
  z-index: 1;
}

.bubbles-container p {
  margin-top: 22vh;
  font-size: 2vw;
  color: rgba(60, 52, 42, 0.45);
}
//--------------------------------

.budget .red {
  background-color: rgb(158, 27, 27);
}

