@import './colors.scss';

// IF SCREEN IS LESS THAN 995PX
@media screen and (max-width: 995px) {
  .boba, .straw, .nav-text {
    display: none;
  }

  #nav {
    display: flex;
  }

  .nav-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: calc(10px + 3vw);
  }

  .nav-icon i {
    font-size: calc(14px + 3.2vw);
  }

  .nav-icon i:hover {
    transition: font-size 0.2s ease-in;
    font-size: calc(15px + 3.7vw);
  }
}

// IF SCREEN IS AT FULL-WIDTH
@media screen and (min-width: 990px) {
  .straw, .nav-icon {
    display: flex;
  }

  #nav {
    display: none;
  }

  .nav-icon .nav-text {
    background-color: $lightblue;
    color: black;
    font-size: 1.5vw;
    position: absolute;
    visibility: hidden;
    top: 10px;
    left: 105%;
  }

  .nav-icon:hover .nav-text {
    visibility: visible;
  }
}

// NORMAL NAV
#nav {
  position: fixed;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  background-color: $boba;
  box-sizing: border-box;
  padding: 20px;
  width: 100%;
  min-height: 60px;
  height: 10vh;
  z-index: 1;
}

#nav h1 {
  font-size: 6vw;
  color: $white;
}

#nav-links {
  margin-left: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#nav-links a, #nav-links button {
  color: $white;
}

// LINKS
.nav-icon {
  width: 4.7vw;
  height: 4.7vw;
  position: relative; 
  justify-content: center;
  align-items: center;
}

// STRAW
#straw {
  position: absolute;
  background-image: linear-gradient(to right, #d5f0f6, $lightblue, #c0e9f1, #abe2ed, #96dae8, #82d3e3, #6dccdf);
  width: 5vw;
  height: 15vw;
  bottom: 0;
  font-size: 1vw;
  color: $black;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

// STRAW BOBA ANIMATION
@keyframes up {
  0% {
    transform: translateY(1000%);
  }

  50% {
    transform: translateY(50%);
  }

  100% {
    transform: translateY(0%);
  }
}
//

#straw button {
  font-size: 100%;
}

#straw i {
  font-size: 170%;
  display: none;
}

#straw-title {
  font-size: 1.7vw;
}

#straw:hover {
  transition: all 1s ease;
  height: 90vh;
  overflow: visible;
  opacity: 0.8;
}

#straw:hover a, #straw:hover button {
  animation: up 2s ease;
}

#straw:hover i, #straw:hover button {
  transition: color 0.5s ease-in;
  color: $white;
  display: block;
}

#straw:hover #straw-title {
  transition: display 0.5s ease-in;
  display: none;
}

#straw:hover .nav-icon {
  background-image: url('https://bobudget-seeds.s3.amazonaws.com/images/finalboba.png');
  background-size: cover;
  border-radius: 50%;
  margin-top: 20%;
}

// BOBAS
.boba {
  position: fixed;
  background-color: $boba;
  border-radius: 50%;
  width: 13vw;
  height: 13vw;
  text-align: center;
  color: $white;
  font-size: 7.3vw;
  z-index: 2;
}

.boba:hover {
  width: 13.5vw;
  height: 13.5vw;
}

//BOBA POSITIONING
#one {
  bottom: -6%;
  left: -5%;
}

#two {
  bottom: -10%;
  left: 3%;
}

#three {
  bottom: -8%;
  left: 12%;
}

#four {
  bottom: -5%;
  left: 21%;
}

#five {
  bottom: -8%;
  left: 30%;
}

#six {
  bottom: -7%;
  left: 39%;
}

#seven {
  bottom: -5%;
  right: 39%;
}

#eight {
  bottom: -8%;
  right: 30%;
}

#nine {
  bottom: -5%;
  right: 21%;
}

#ten {
  bottom: -8%;
  right: 12%;
}

#eleven {
  bottom: -10%;
  right: 3%;
}

#twelve {
  bottom: -6%;
  right: -5%;
}