@media screen and (max-width: 995px) {
  .boba {
    display: none;
  }

  .nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    background-color: #41382C;
    padding: 20px;
    width: 100%;
    height: 8vh;
  }
}

@media screen and (min-width: 990px) {
    .nav {
        display: none;
    }
}

.nav h1 {
    font-size: 120%;
    color: #F1F1F1;
}

.nav a, .nav button {
    color: #F1F1F1;
    font-size: 120%;
    margin-right: 2%;
}

.menu {
    position: absolute;
    background-color: #C3EAF2;
    width: 5vw;
    height: 5vw;
    bottom: 85%;
    left: 40%;
    font-size: 1vw;
    color: #070707;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.menu a, button {
    font-size: 13px;
    color: #C3EAF2;
}

.menu:hover {
    transition: height 1s;
    height: 18vw;
}

.menu:hover a, .menu:hover button {
    transition: color 0.5s;
    color: #070707;
}

.menu:hover a:hover, button:hover {
    font-size: 14px;
}

.menu:hover .menu-title {
    transition: color 0.5s;
    color: #C3EAF2;
}

.nav {
    position: fixed;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    background-color: #41382C;
    padding: 20px;
    width: 100%;
    height: 8vh;
}

.nav-links {
    margin-right: 10%;
}

.boba {
    position: fixed;
    background-color: #41382C;
    border-radius: 50%;
    width: 15vw;
    height: 15vw;
    text-align: center;
    color: #F1F1F1;
    font-size: 9vw;
}

.first {
    bottom: -6%;
    left: -5%;
}

.second {
    bottom: -8%;
    left: 4%;
}

.third {
    bottom: -5%;
    left: 15%;
}

.fourth {
    bottom: -8%;
    left: 26%;
}

.fifth {
    bottom: -7%;
    left: 38%;
}

.sixth {
    bottom: -5%;
    right: 36%;
}

.seventh {
    bottom: -8%;
    right: 25%;
}

.eighth {
    bottom: -5%;
    right: 14%;
}

.ninth {
    bottom: -8%;
    right: 4%;
}

.tenth {
    bottom: -6%;
    right: -5%;
}