.purchased-items {
    margin: auto;
    margin-top: 0;
    background-color: #E1D3BF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 1vw;
    width: 70vw;
    height: 90vh;
}

.purchased-items a {
    color: grey;
    font-size: 1.6vw;
    padding: 1vw;
}

.fa-chevron-left {
    font-size: 1vw;
}

.purchased-items h1 {
  font-size: 2.5vw;
    color: #F1F1F1;
    background-color: #8C9DA0;
    border-radius: .7vw;
    width: 100%;
    align-self: center;
}

.budget-updates {
    margin-top: 1vh;
}

.update-budget {
    padding: .2vw;
    font-size: 1.7vw;
}

.update-budget input {
    width: 5vw;
    background-color: #f1f1f1;
    border-radius: .8vw;
    padding: 6px;
    box-sizing: border-box;
    font-size: 1.7vw;
}

.purchased-items button {
    margin: 5px 10px;
    width: 50px;
    background-color: #B3BA9E;
    color: #F1F1F1;
    font-size: 14px;
    border-radius: 10px;
    padding: 2px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.monthly-budget h3 {
    font-size: 26px;
    margin: 10px;
}

.monthly-budget span {
    color: #75A1AB;
    padding-left: 5px;
}

.spends h3{
    font-size: 30px;
    color: #F1F1F1;
    background-color: #8C9DA0;
    border-radius: 10px;
    width: 100%;
    align-self: center;
}

.purchase-list {
    list-style: none;
    height: 22vw;
    overflow: scroll;
}

.purchase-list li {
  font-size: 20px;
}

#purchase-price {
    color: #75A1AB;
    padding-left: 10px;
    font-size: 20px;
}