html, body, h1, h2, h3, h4, h5, h6, header, footer, div, span, section,
p, label, input, form, img, caption, button, aside, ul, ol, li, tr, td,
th, a, dl, dt, dd, nav, time {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: inherit;
  font-family: inherit;
  text-decoration: inherit;
  vertical-align: baseline;
  background: transparent;
  list-style-type: none;
}