@import './colors.scss';

// WHEN SCREEN IS LESS THAN 900PX
@media screen and (max-width: 900px) {
  .search-container {
    flex-direction: column;
    margin: auto;
    height: 100%;
    top: 2vh;
    padding: 3vw;
    overflow: scroll;
  }

  .s-left , #map{
    width: 100%;
  }

  .search input {
    padding: 2vw;
    border-radius: 1.5vw;
    font-size: 3.5vw;
  }

  .search button {
    font-size: 3.5vw;
    border-radius: 0 1.5vw 1.5vw 0;
    padding: 2vw;
  }

  .search-results {
    height: 45vw;
    margin-bottom: 2vh;
    border-radius: 2vw;
    padding: 2vw;
  }

  .search-results p {
    font-size: 3.5vw;
    padding-top: 17vw;
  }

  .search-item {
    border-radius: 1vw;
    margin-top: 1.5vw;
    height: 10vw;
    font-size: 2.7vw;
  }

  .search-item h2 {
    font-size: 4vw;
  }

  .search-item i {
    font-size: 4vw;
  }

  .search-item button {
    margin-right: 2vw;
  }

  .search-pic {
    width: 10vw;
    height: 10vw;
  }

  #map {
    height: 100%;
    border-radius: 2vw;
  }
}

// SCREEN @ FULL WIDTH
@media screen and (min-width: 900px) {
  .search-container {
    flex-direction: row;
    position: fixed;
    top: 4vh;
    padding: 2vw;
  }

  .s-left {
    margin-right: 2vw;
  }

  .s-left, #map {
    width: 70%;
  }
  .search input {
    padding: .8vw;
    border-radius: .8vw;
    font-size: 1.3vw;
  }

  .search button {
    font-size: 1.5vw;
    border-radius: 0 .8vw .8vw 0;
    padding: .8vw;
  }

  .search-results {
    height: 61vh;
    border-radius: .8vw;
    padding: 1vw;
  }

  .search-results p {
    font-size: 2vw;
    padding-top: 23vh;
  }

  .results {
    height: 57vh;
  }

  .search-item {
    border-radius: 1vw;
    margin-top: .8vw;
    height: 5vw;
    font-size: 1.2vw;
  }

  .search-item h2 {
    font-size: 1.7vw;
  }

  .search-item i {
    font-size: 2vw;
  }

  .search-item button {
    margin-right: 1vw;
  }

  .search-pic {
    width: 5vw;
    height: 5vw;
  }

  #map {
    height: 80%;
    border-radius: 10px;
  }
}

.search-container {
  position: fixed;
  background-color: $lightorange;
  border-radius: 2vw 2vw 0px 0px;
  left: 2.5%;
  width: 95vw;
  height: 95vh;
  z-index: -1;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.search {
  position: relative;
}

.search input {
  width: 100%;
  box-sizing: border-box;
  background-color: $white;
}

.search button {
  transition: background-color 0.3s ease;
  position: absolute;
  right: 0;
  height: 100%;
  width: 10%;
  box-sizing: border-box;
  background-color: $darkmatcha;
  color: $white;
}

.search button:hover {
  background-color: $superdarkmatcha;
}

.search-results {
  margin-top: 2vh;
  background-color: $white;
}

.results {
  overflow: scroll;
}

.search-results p {
  text-align: center;
}

.search-item {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: $pink;
  overflow: hidden;
}

.search-item:first-child {
  margin-top: 0px;
}

.search-item a {
  transition: color 0.4s ease;
  color: $superdarkmatcha;
}

.search-item a:hover {
  color: $darkmatcha;
}

.search-item i {
  color: $forestgreen;
}

.search-item button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-pic {
  position: relative;
  overflow: hidden;
  margin-right: 20px;
}

.search-pic img {
  height: inherit;
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
  z-index: 0;
}