.signup-form {
    width: 100%;
    margin: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.signup-form form {
    display: flex;
    flex-direction: column;
}

.signup-form label {
    margin: 2px;
    padding: 10px;
    font-size: 12px;
    border-radius: 20px;
    border: 1px solid goldenrod;
}

.signup-form label:hover {
    border: 2px solid goldenrod;
}

.signup-form input {
    outline: none;
    border: none;
    font-size: 14px;
    padding: 5px;
    width: 90%;
}

.signup-form button {
    width: 100%;
    height: 30px;
    font-size: 16px;
    border-radius: 20px;
    margin-top: 10px;
    background-color: rgb(216, 199, 173);
    cursor: pointer;
}