.main-page {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main-page h1 {
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main-page ul {
    list-style: none;
}

.main-body {
    display: flex;
    justify-content: space-around;
}