@import './colors.scss';

@media screen and (max-width: 400px) {
  #welcome-outer {
    margin: 16vh auto;
    width: 85vw;
    height: 73vw;
    border-radius: 33vw;
  }

  #welcome-middle {
    width: 79vw;
    height: 65vw;
    border-radius: 28vw;
    top: 3.5vw;
    left: 3vw;
  }

  #welcome-inner {
    width: 73vw;
    height: 60vw;
    border-radius: 27vw;
    top: 2.5vw;
    left: 3vw;
  }

  #welcome-inner h1 {
    margin: 4.8vw 0;
    font-size: 7vw;
  }

  #welcome-inner a {
    margin: 2vw auto;
    border-radius: 6vw;
    padding: 1vw;
    font-size: 6vw;
  }
}

@media screen and (min-width: 400px) and (max-width: 990px) {
  #welcome-outer {
    margin: 17vh auto;
    width: 45vw;
    height: 40vw;
    border-radius: 18vw;
  }

  #welcome-middle {
    width: 42vw;
    height: 35vw;
    border-radius: 15vw;
    top: 2.5vw;
    left: 1.5vw;
  }

  #welcome-inner {
    width: 40vw;
    height: 32.5vw;
    border-radius: 14vw;
    top: 1.25vw;
    left: 1vw;
  }

  #welcome-inner h1 {
    margin: 1.5vw 0;
    font-size: 3.7vw;
  }

  #welcome-inner a {
    margin: 1.8vw auto;
    border-radius: 2vw;
    padding: 1vw;
    font-size: 2.7vw;
  }
}

@media screen and (min-width: 990px) and (max-width: 1350px) {
  #welcome-outer {
    margin: 8vh auto;
    width: 45vw;
    height: 40vw;
    border-radius: 18vw;
  }

  #welcome-middle {
    width: 42vw;
    height: 35vw;
    border-radius: 15vw;
    top: 2.5vw;
    left: 1.5vw;
  }

  #welcome-inner {
    width: 40vw;
    height: 32.5vw;
    border-radius: 14vw;
    top: 1.25vw;
    left: 1vw;
  }

  #welcome-inner h1 {
    margin: 1.5vw 0;
    font-size: 3.7vw;
  }

  #welcome-inner a {
    margin: 1.8vw auto;
    border-radius: 2vw;
    padding: 1vw;
    font-size: 2.7vw;
  }
}

@media screen and (min-width: 1350px) {
  #welcome-outer {
    margin: 10vh auto;
    width: 36vw;
    height: 30vw;
    border-radius: 13vw;
  }

  #welcome-middle {
    width: 33vw;
    height: 25vw;
    border-radius: 11vw;
    top: 2.5vw;
    left: 1.5vw;
  }

  #welcome-inner {
    width: 31vw;
    height: 22.5vw;
    border-radius: 10vw;
    top: 1.25vw;
    left: 1vw;
  }

  #welcome-inner h1 {
    margin-top: 1vw;
    font-size: 3vw;
  }

  #welcome-inner a {
    margin: .8vw auto;
    border-radius: 2vw;
    padding: 1vw;
    font-size: 2vw;
  }
}

#welcome-outer {
  background-color: $passionred;
  position: relative;
}

#welcome-middle {
  position: absolute;
  background-color: $offwhite;
}

#welcome-inner {
  position: absolute;
  text-align: center;
  background-color: $passionorange;
  color: $passionseed;
}

#welcome-inner a {
  transition: background-color .8s ease-in-out, color .8s ease-in-out;
  display: block;
  background-color: $passionyellow;
  color: $passionred;
  box-sizing: border-box;
  box-shadow: 0 .3vw .3vw rgba(226, 78, 78, 0.25);
  width: 60%;
}

#welcome-inner a:hover {
  background-color: $passionseed;
  color: $offwhite;
}


