@import './colors.scss';

#bubbles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

#bubbles li {
  position: absolute;
  list-style: none;
  display: block;
  border-radius: 50%;
  background-color: rgba(5, 5, 5, 0.15);
  bottom: -100px;
  -webkit-animation: square 20s infinite;
  animation: square 20s infinite;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}

#bubbles li:nth-child(1) {
  width: 40px;
  height: 40px;
  left: 20%;
}
#bubbles li:nth-child(2) {
  width: 60px;
  height: 60px;
  left: 40%;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-duration: 17s;
  animation-duration: 17s;
}

#bubbles li:nth-child(3) {
  width: 30px;
  height: 30px;
  left: 60%;
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
  -webkit-animation-duration: 13s;
  animation-duration: 13s;
}

#bubbles li:nth-child(4) {
  width: 80px;
  height: 80px;
  left: 80%;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-duration: 22s;
  animation-duration: 22s;
}

#bubbles li:nth-child(5) {
  width: 50px;
  height: 50px;
  left: 50%;
  -webkit-animation-delay: 7s;
  animation-delay: 7s;
  -webkit-animation-duration: 12s;
  animation-duration: 12s;
}

@-webkit-keyframes square {
  0% {
    -webkit-transform: translateY(-1080px) rotate(630deg);
    transform: translateY(-1080px) rotate(630deg);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes square {
  0% {
    -webkit-transform: translateY(-1080px) rotate(630deg);
    transform: translateY(-1080px) rotate(630deg);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.welcome-form {
  margin: 12vh auto;
  background-color: $milktea;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 20px;
  width: 500px;
  height: 45vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.welcome-form h1 {
  font-size: 260%;
  margin-bottom: 3%;
}

.welcome-form a {
  width: 50%;
  align-self: center;
  margin: 10px;
  background-color: $matcha;
  color: $white;
  font-size: 20px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.welcome-form a:hover {
  cursor: pointer;
  background-color: $darkmatcha;
}
